@value shadow: 8px;
@value spacing: 64px;

.lightGroup {
  @apply fixed pointer-events-none flex justify-center items-center;
}

.lightGroup.row {
  @apply w-full left-0;
}

.lightGroup.col {
  @apply flex-col h-full top-0;
}

.lightGroup.row.start {
  @apply top-0;
}

.lightGroup.row.end {
  @apply bottom-0;
}

.lightGroup.col.start {
  @apply left-0;
}

.lightGroup.col.end {
  @apply right-0;
}

.container {
  @apply flex justify-center items-center relative;
}

.lightGroup.row .container {
  width: spacing;
  @apply py-2;
}

.lightGroup.col .container {
  height: spacing;
  @apply px-2;
}

.container:last-child .wire {
  @apply hidden;
}

.wire {
  @apply absolute w-16 h-16;
}

.lightGroup.row.start .wire {
  transform: translateX(50%);
  @apply bottom-0;
}

.lightGroup.row.end .wire {
  transform: translateX(50%) scaleY(-1);
  @apply top-0;
}

.lightGroup.col.start .wire {
  transform: translateY(50%) rotate(-90deg);
  @apply right-0;
}

.lightGroup.col.end .wire {
  transform: translateY(50%) rotate(-90deg) scaleY(-1);
  @apply left-0;
}

.socket {
  @apply absolute z-0 rounded-sm bg-green-800;
}

.lightGroup.row .socket {
  @apply w-2 h-4;
}

.lightGroup.col .socket {
  @apply w-4 h-2;
}

.lightGroup.row.end .socket {
  @apply bottom-0;
}

.lightGroup.row.start .socket {
  @apply top-0;
}

.lightGroup.col.start .socket {
  @apply left-0;
}

.lightGroup.col.end .socket {
  @apply right-0;
}

.bulb {
  @apply z-10 w-4 h-4 rounded-full transition-colors;
}

.container:nth-child(5n + 1) .bulb {
  box-shadow: 0 0 shadow var(--christmas-color-1);
  background: var(--christmas-color-1);
  animation: animation-1 1s infinite alternate-reverse;
}

.container:nth-child(5n + 2) .bulb {
  box-shadow: 0 0 shadow var(--christmas-color-2);
  background: var(--christmas-color-2);
  animation: animation-2 1s infinite alternate-reverse -1s;
}

.container:nth-child(5n + 3) .bulb {
  box-shadow: 0 0 shadow var(--christmas-color-3);
  background: var(--christmas-color-3);
  animation: animation-3 1s infinite alternate-reverse -2s;
}

.container:nth-child(5n + 4) .bulb {
  box-shadow: 0 0 shadow var(--christmas-color-4);
  background: var(--christmas-color-4);
  animation: animation-4 1s infinite alternate-reverse -3s;
}

.container:nth-child(5n + 5) .bulb {
  box-shadow: 0 0 shadow var(--christmas-color-5);
  background: var(--christmas-color-5);
  animation: animation-5 1s infinite alternate-reverse -4s;
}

@keyframes animation-1 {
  from {
    background: var(--christmas-color-1);
    box-shadow: 0 0 shadow var(--christmas-color-1);
  }
  to {
    background: var(--christmas-color-1-fade);
    box-shadow: 0 0 shadow var(--christmas-color-1-fade);
  }
}

@keyframes animation-2 {
  from {
    background: var(--christmas-color-2);
    box-shadow: 0 0 shadow var(--christmas-color-2);
  }
  to {
    background: var(--christmas-color-2-fade);
    box-shadow: 0 0 shadow var(--christmas-color-2-fade);
  }
}

@keyframes animation-3 {
  from {
    background: var(--christmas-color-3);
    box-shadow: 0 0 shadow var(--christmas-color-3);
  }
  to {
    background: var(--christmas-color-3-fade);
    box-shadow: 0 0 shadow var(--christmas-color-3-fade);
  }
}

@keyframes animation-4 {
  from {
    background: var(--christmas-color-4);
    box-shadow: 0 0 shadow var(--christmas-color-4);
  }
  to {
    background: var(--christmas-color-4-fade);
    box-shadow: 0 0 shadow var(--christmas-color-4-fade);
  }
}

@keyframes animation-5 {
  from {
    background: var(--christmas-color-5);
    box-shadow: 0 0 shadow var(--christmas-color-5);
  }
  to {
    background: var(--christmas-color-5-fade);
    box-shadow: 0 0 shadow var(--christmas-color-5-fade);
  }
}
